<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>分享 - {$seoImg.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
    <link rel="stylesheet" href="__CSS__/homepage.css" media="screen" title="no title">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
    <!--<link rel="stylesheet" href="__JS__/layer_mobile/need/layer.css">-->
    <link href='https://unpkg.com/nprogress@0.2.0/nprogress.css' rel='stylesheet' />
</head>

<body>
{include file="common/head"}
<div class="main-body" id="main" data-role="content">

    <div class="post">
        <div class="post-title">
            <ul>
                <li class="{$row['gender']}">{$row['nickName']}</li>
                <li><img src="__IMG__/icon/to.png" alt=""></li>
                <li class="{$row['itsGender']}">{$row['towho']}</li>
            </ul>
        </div>
        <div class="post-body">
            <p class="post-body-content">{$row['contents']}</p>
            {if !empty($row.loveImage)}
            <img src="{$row.loveImage}" alt="" style=" width: auto;height: auto;max-width: 100%;max-height: 50%;border-radius: 5px;">
            {/if}
            <p class="post-body-time">{$row['mtime']|transfer_time}</p>
        </div>
        <div class="post-actions action ui-navbar" role="navigation">
            <ul class="ui-grid-c">
                <li class="ui-block-a"><a class="ui-link ui-btn ui-btn-icon-left {if !empty($is_like)} ui-icon-liked {else/} ui-icon-like {/if}" href="#" data-post="{$row['id']}" data-icon="like">{$row['love']}</a></li>
                <li class="ui-block-b"><a class="ui-link ui-btn ui-icon-guess ui-btn-icon-left " href="#guess-Name-Popup" data-rel="popup" data-position-to="window" data-transition="pop" data-post="{$row['id']}" data-icon="guess">{$total_guess}/{$total_guess_all}</a></li>
                <li class="ui-block-c"><a class="ui-link ui-btn ui-icon-comment ui-btn-icon-left " href="#comment-Popup" data-rel="popup" data-position-to="window" data-transition="pop" data-post="{$row['id']}" data-icon="comment">{$total_comments}</a></li>
                <li class="ui-block-d"><a class="ui-link ui-btn ui-icon-share ui-btn-icon-left " href="#" data-post="{$row['id']}" data-icon="share">分享</a></li>
            </ul>
        </div>
    </div>



    <div id="qrcode" style="text-align: center;">
        <img id="qrCodeIco" src="__IMG__/icon/love.png" style="position: absolute;width: 50px; height:50px;" />
    </div>
    <p style="text-align: center; color: #333333; font-size: 14px">扫码给表白点赞</p>
    <div id="share-bars" >
        <div class="jiathis_style_m"></div>
    </div>
</div>

<div data-role="footer" id="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">
    <div class="" data-role="navbar">
        <ul>
            <li><a href="/" data-ajax='false' data-transition="slide" data-direction="reverse" data-role="button" data-icon="article" class="ui-icon-article" data-iconpos="notext"></a></li>
            <li><a href="/saylove" data-ajax='false' data-role="button" data-icon="heart" class="ui-icon-heart" data-iconpos="notext"></a></li>
            <li><a href="/search" data-ajax='false' data-role="button" data-icon="search" class="ui-icon-search" data-iconpos="notext"></a></li>
            <li><a href="/help" data-ajax='false' data-role="button" data-icon="help" class="ui-icon-help" data-iconpos="notext"></a></li>
        </ul>
    </div>

</div>
<div data-role="popup" class="ui-content" data-overlay-theme="b" id="guess-Name-Popup">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">关闭</a>
    <h4>猜名字</h4>
    <p>
        已猜中 <span id="guess_right"></span> 次, 被猜 <span id="guess_all"></span> 次.
    </p>
    <p class="guess-hint">
        猜名字游戏介绍请点击查看：<a style="color:#333;" href="/help">帮助</a>
    </p>
    <div class="ui-field-contain">
        <label for="guess-input">猜一猜发起者的名字：</label>
        <input type="search" name="search" id="guess-input"  placeholder="名字">
    </div>
    <input id="guess-submit" style="text-align:center;display:block;margin:0 auto;" type="submit"  data-inline="true" value="猜！">
    <span id="guess-hint"></span>
</div>


<div data-role="popup" class="ui-content" data-overlay-theme="b" id="comment-Popup" style="overflow-x:hidden;height:100%;" >
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right" style="position: absolute;top:0.3rem;right: 0.3rem;">关闭</a>
    <h4>评论列表</h4>
    <div id="scroll">


    <div class="" id="comment-lists">
        <ul id="comment-lists-ul" style="word-wrap: break-word;word-break: break-all;">
            <li style="visibility: hidden;">
                <!--<span class="comment-floor">2楼</span>-->
                <!--<span class="comment-ip">192.168.1.***</span>-->
                <!--<span class="comment-time">2016/11/7 18:00:56</span>-->
                <!--<p>占位占位占位占位占位占位占位占位占位占位占位</p>-->
            </li>
        </ul>
    </div>
    </div>
    <div class="ui-field-contain">
        <label for="guess-input">评论：</label>
        <input type="search" name="contents" id="contents-input" placeholder="理性发言,文明你我他...">
    </div>
    <input id="comment-submit" data-post="{$row['id']}" style="text-align:center;display:block;margin:0 auto;" type="submit" data-inline="true" value="评论">
    <span id="comment-hint"></span>
</div>


<div data-role="popup" class="ui-content" data-overlay-theme="b" id="share-Popup">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">关闭</a>
    <h4>链接分享</h4>
    <h5>复制链接给朋友或者点击打开链接</h5>
    <div id="link">
        <a href=""></a>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script type="text/javascript">

    var jiathis_config = {
        url: document.location.href,
        title: "表白墙",
        summary:"这个表白好有意思 分享给大家看看！"
    };
    $("#qrcode").qrcode({
        render : "canvas",    //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
        width: 182, //宽度
        height:182, //高度
      	text:"<?php echo 'http://'.$_SERVER['HTTP_HOST']?>/share/id/{$row['id']}",
        src:"__IMG__/icon/to.png"
    });
    var margin = ($("#qrcode").height() - $("#qrCodeIco").height()) / 2; //控制Logo图标的位置
    $("#qrCodeIco").css("margin", margin);

    $(".ui-icon-liked ").click(function(){
        layer.open({
            content: '已点赞'
            ,skin: 'msg'
            ,time: 2 //2秒后自动关闭
        });
    });

</script>
<!--<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>-->
<div style="display:none;">
    <!--站长统计-->
    <!--<script src="https://s95.cnzz.com/z_stat.php?id=1260775801&web_id=1260775801" language="JavaScript"></script>-->
</div>
<script src="__JS__/layer_mobile/layer.js"></script>
<script src="__JS__/search.min.js"></script>
</body>
</html>
<script src='https://unpkg.com/nprogress@0.2.0/nprogress.js'></script>
