<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>搜索 - {$seoImg.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.css" />
    <link rel="stylesheet" href="__CSS__/homepage.css" media="screen" title="no title">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
    <link href='https://unpkg.com/nprogress@0.2.0/nprogress.css' rel='stylesheet' />
</head>

<body>
	<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<style>
    .ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear{
        top: 15%;
    }
    #search-bars {
        margin-bottom: 150px;
    }
</style>
{include file="common/head"}
<div class="main-body" id="search-bars" data-role="content">
    <div class="ui-field-contain">
        <label for="search-bars-input">搜索：</label>
        <input type="search" name="search" id="search-bars-input" placeholder="TA的名字">
    </div>

    <input id="search-bars-submit" style="text-align:center;display:block;margin:0 auto;" type="submit" data-inline="true" value="搜索">
    <div class="main-body" id="main" data-role="content">
        <img src="__IMG__/icon/heart.gif" alt="" class="loading" style="display:none;"/>
    </div>
</div>

<div data-role="footer" id="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">
    <div class="" data-role="navbar">
        <ul>
            <li><a href="/" data-ajax='false' data-transition="slide" data-direction="reverse" data-role="button" data-icon="article" class="ui-icon-article" data-iconpos="notext">首页</a></li>
            <li><a href="/saylove" data-ajax='false' data-role="button" data-icon="heart" class="ui-icon-heart" data-iconpos="notext">表白</a></li>
            <li><a href="/search" data-ajax='false' data-role="button" data-icon="searchNow" class="ui-icon-search" data-iconpos="notext">搜索</a></li>
            <li><a href="/help" data-ajax='false' data-role="button" data-icon="help" class="ui-icon-help" data-iconpos="notext">帮助</a></li>
        </ul>
    </div>

</div>
<div data-role="popup" class="ui-content" data-overlay-theme="b" id="guess-Name-Popup">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">关闭</a>
    <h4>猜名字</h4>
    <p>
        已猜中 <span id="guess_right"></span> 次, 被猜 <span id="guess_all"></span> 次.
    </p>
    <p class="guess-hint">
        猜名字游戏介绍请点击查看：<a style="color:#333;" href="help">帮助</a>
    </p>
    <div class="ui-field-contain">
        <label for="guess-input">猜一猜发起者的名字：</label>
        <input type="search" name="search" id="guess-input" placeholder="名字">
    </div>
    <input id="guess-submit" style="text-align:center;display:block;margin:0 auto;" type="submit" data-inline="true" value="猜！">
    <span id="guess-hint"></span>
</div>
<div data-role="popup" class="ui-content" data-overlay-theme="b" id="comment-Popup" style="overflow-x:hidden;height:100%;max-height: 30rem;" >
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right" style="position: absolute;top:0.3rem;right: 0.3rem;">关闭</a>
    <h4>评论列表</h4>
    <div class="" id="comment-lists">
        <ul id="comment-lists-ul">
            <li style="visibility: hidden;">
                <!--<span class="comment-floor">2楼</span>-->
                <!--<span class="comment-ip">192.168.1.***</span>-->
                <!--<span class="comment-time">2016/11/7 18:00:56</span>-->
                <!--<p>占位占位占位占位占位占位占位占位占位占位占位</p>-->
            </li>
        </ul>

    </div>
    <div class="ui-field-contain">
        <label for="guess-input">评论：</label>
        <input type="search" name="contents" id="contents-input" placeholder="理性发言,文明你我他...">
    </div>
    <input id="comment-submit" data-post="" style="text-align:center;display:block;margin:0 auto;" type="submit" data-inline="true" value="评论">
    <span id="comment-hint"></span>
    <p style="text-align:center;color:#9e9e9e;font-size:12px;">小提示：点击评论框外面也可以关闭评论哦。</p>
</div>
<div data-role="popup" class="ui-content" data-overlay-theme="b" id="share-Popup">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">关闭</a>
    <h4>链接分享</h4>
    <h5>复制链接给朋友或者点击打开链接</h5>
    <div id="link">
        <a href=""></a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
<link href="https://cdn.bootcss.com/fancybox/3.5.6/jquery.fancybox.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/fancybox/3.5.6/jquery.fancybox.min.js"></script>
<!--搜索页有无法出现分享的bug，和原本的search.js交换-->
<script src="__JS__/display.min.js" charset="utf-8"></script>
<script src="__LAYER__/layer.js"></script>
<!--<script src="__JS__/layer_mobile/layer.js"></script>-->
{include file='common/script'}

<script>


    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
</body>
</html>
<script src='https://unpkg.com/nprogress@0.2.0/nprogress.js'></script>
